body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1, h2 {
	margin: 0;
}

main {
	padding: 20px;
}

form {
	margin: 20px 0;
}

input[type="text"] {
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}

button {
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

label {
	font-size: 16px;
	margin-left: 10px;
}

#result {
	font-weight: bold;
}
